{% extends 'layout.html' %}
{%  block body %}

<h1>Dashboard of Expenditures  <small>Welcome {{session.username}}</small> </h1><hr><br>

<a class="btn btn-success" href="/add_article">Add expenditure</a>
<hr>

<table class="table table-striped">
	<tr>
		<th>Expense</th>
		<th>Incurred By</th>
		<th>Amount</th>
		<th>Date</th>
		<th></th>
	</tr>
	{% for article in articles %}
	{% if article.author==session.username :%}
		<tr>
			<td>{{article.title}}</td>
			<td>{{article.author}}</td>
			<td>{{article.body}}</td>
			<td>{{article.create_date}}</td>
			
			<td>
			<form class="" action="{{url_for('delete_article',id=article.id)}}" method="POST">
				<input type="hidden" name="_method" value="DELETE">
				<input type="submit" value="Delete" class="btn btn-danger">
			</form>
			</td>
		</tr>
		{% endif %}
	{% endfor %}
	
</table>
		<a href="/insights" class="btn btn-info">Draw Insights</a></td>
{% endblock %}
